<!DOCTYPE html>
<html>
<head>
    <title>Kladara</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <base href="/">
</head>
<body>
    <div id="app"></div>
    <script src="~/build.js"></script>
</body>
</html>